name: wds_tokens
version: 0.1.0
publish_to: none
description: WINC Design System tokens package
environment:
  sdk: ^3.9.0
resolution: workspace

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0
